{% extends 'base.html.twig' %}

{% block title %}
	Réserveration confirmée
{% endblock %}

{% block body %}
	<h1>Réserveration confirmée</h1>
	<h3>Votre réservation a bien été confirmée !</h3>
	<a href="{{ path('home') }}">Retour à la page d'accueil</a>
{% endblock %}
