{% extends 'base.html.twig' %}

{% block title %}
	Module de réservation pour VTC
{% endblock %}

{% block body %}
	<h1>Demande de devis</h1>
	{% for message in app.flashes('warning') %}
		<div class="alert alert-warning">
			{{ message }}
		</div>
	{% endfor %}
	{{ form(form) }}
{% endblock %}

{% block javascripts %}
	<script async
			src="https://maps.googleapis.com/maps/api/js?key={{ google_key }}&libraries=places&callback=initAutocomplete">
	</script>
	<script src="{{ asset('js/autocomplete.js') }}"></script>
{% endblock %}