{% extends 'base.html.twig' %}

{% block title %}
	Module de réservation pour VTC
{% endblock %}

{% block body %}
	<h1 class="my-4 ms-3">Demande de devis</h1>
	<div class="row ms-2">
		<div class="col-xxl-3 col-xl-4 col-md-5">
			{% for message in app.flashes('warning') %}
				<div class="alert alert-danger">
					{{ message }}
				</div>
			{% endfor %}
			{% form_theme form 'bootstrap_5_layout.html.twig' %}
			{{ form(form) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script async
			src="https://maps.googleapis.com/maps/api/js?key={{ google_key }}&libraries=places&callback=initAutocomplete">
	</script>
	<script src="{{ asset('js/autocomplete.js') }}"></script>
{% endblock %}