{% extends 'base.html.twig' %}

{% block title %}
	Module de réservation pour VTC
{% endblock %}

{% block body %}
	<input id="origin" placeholder="Entrez un lieu de départ" type="text"/>
	<input disabled id="destination" placeholder="Entrez une destination" type="text"/>
	<div id="validate"></div>
{% endblock %}

{% block javascripts %}
	<script async
			src="https://maps.googleapis.com/maps/api/js?key={{ google_key }}&libraries=places&callback=initAutocomplete"> //WARNING API KEY!!!!
	</script>
	<script src="{{ asset('js/autocomplete.js') }}"></script>
{% endblock %}